name: recipe_app
description: A simple Recipe App (skeleton) for Hands-On Test (Flutter) - uses Hive for storage.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.5
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  path_provider: ^2.0.11
  image_picker: ^0.8.7+5
  uuid: ^3.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  hive_generator: ^1.1.3
  build_runner: ^2.4.6

flutter:
  uses-material-design: true
  assets:
    - assets/recipetypes.json
    - assets/sample_images/
